* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-green: #00b289;
  --color-dark-gray: #4c4d5f;
  --color-white: #fff;
  --color-yellow: #f8db62;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    width: 100%;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hidden {
  display: none;
}

header > .flex-container {
  flex: 1;
  max-width: 1400px;
  padding: 36px;

  #logo {
    margin-right: auto;
    img {
      height: 36px;
    }
  }

  nav {
    display: none;
  }
}

/* 991 px breakpoint for hamburger menu */
@media screen and (min-width: 991px) {
  header > .flex-container nav {
    display: block;
  }

  #hamburger {
    display: none;
  }
}
