@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-green: #00b289;
  --color-green-darker: #03a17c;
  --color-light-gray: #c3c3c3;
  --color-dark-gray: #4c4d5f;
  --color-white: #fff;
  --color-yellow: #f8db62;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 24px;
  header {
    display: flex;
    width: 100%;
  }
  main {
	  margin-top: 24px;
  }

}

ul {
	list-style: none;
}

.hidden {
  display: none;
  /* height: 0px;
  padding: 0; */
}

/* HEADER */

header > div {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #logo img {
    height: 32px;
  }
  
  nav.visible {
    display: block;
  }

  nav {
	  display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--color-white);
    padding: 123px 50px 0;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    font-size: 15px;
    a {
      text-decoration: none;
      color: var(--color-dark-gray);
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 5%;
      * {
        border-bottom: 1px solid var(--color-light-gray);
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      .button {
        border: 1px solid var(--color-green);
        border-radius: 4px;
        padding: 13px 27px;
        font-weight: 700;
        font-size: 13px;
        text-align: center;
        margin-bottom: 20px;
      }

      #log-in {
        padding: 13px 22px;
        color: var(--color-green);
      }

      #log-in:hover {
        background-color: var(--color-green);
        color: var(--color-white);
      }

      #start-free {
        background-color: var(--color-green);
        color: var(--color-white);
      }

      #start-free:hover {
        background-color: var(--color-green-darker);
      }
    }
  }

  #mobile-logo {
    position: absolute;
    left: 50px;
    top: 35px;
    padding: 0;
    img {
      height: 40px;
      width: 40px;
    }
  }

  #hamburger {
    z-index: 100;
  }
}

.card {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

@media screen and (min-width: 950px) {
  header > div > nav {
    display: flex;
    flex-direction: row;
    position: static;
    height: 100%;
    max-width: 75%;
    max-width: 1400px;
    padding: 0;
    .left {
      flex-direction: row;

      * {
        margin-right: 40px;
        border: none;
      }
    }

    .right {
      flex-direction: row;
      margin-top: 0;
      .button {
        margin-left: 17px;
        margin-bottom: 0;
      }
      #log-in {
        padding-top: 12px;
        padding-bottom: 9px;
      }
      #start-free {
        padding-top: 12px;
        padding-bottom: 9px;
      }
    }
  }

  #hamburger {
    display: none;
  }

  #mobile-logo {
    display: none;
  }

  .hidden {
    display: inherit;
  }
}

/* MAIN */
