@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-green: #00b289;
  --color-green-darker: #03a17c;
  --color-dark-gray: #4c4d5f;
  --color-white: #fff;
  --color-yellow: #f8db62;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  header {
    display: flex;
    width: 100%;
  }
}

.hidden {
  display: none;
}

header > div {
  flex: 1;
  max-width: 1400px;
  padding: 24px 56px;
  display: flex;
  justify-content: space-between;
  #logo img {
    height: 32px;
  }

  nav {
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 75%;
    font-size: 17px;
    a {
      text-decoration: none;
      color: var(--color-dark-gray);
    }

    .left {
      margin-right: 5%;
      display: flex;
      justify-content: space-between;

      * {
        margin-right: 40px;
      }
    }

    .right {
      display: flex;

      .button {
        margin-left: 17px;
        border: 1px solid var(--color-green);
        border-radius: 4px;
        padding: 12px 27px 9px;
        font-weight: 700;
        font-size: 13px;
      }

      #log-in {
        padding-left: 22px;
        padding-right: 22px;
        color: var(--color-green);
      }

      #log-in:hover {
        background-color: var(--color-green);
        color: var(--color-white);
      }

      #start-free {
        background-color: var(--color-green);
        color: var(--color-white);
      }

      #start-free:hover {
        background-color: var(--color-green-darker);
      }
    }
  }
}

/* 991 px breakpoint for hamburger menu */
@media screen and (min-width: 991px) {
  header > div > nav {
    display: flex;
  }

  #hamburger {
    display: none;
  }
}
